interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://seekingalpha.com/feed/stock-ideas
  response:
    body:
      string: "<?xml version=\"1.0\"?>\n<rss version=\"2.0\">\n  <channel>\n    <title>Articles
        on Seeking Alpha</title>\n    <link>https://seekingalpha.com/stock-ideas/</link>\n
        \   <description>&#xA9; seekingalpha.com. Use of this feed is limited to personal,
        non-commercial use and is governed by Seeking Alpha's Terms of Use (https://about.seekingalpha.com/terms).
        Publishing this feed for public or commercial use and/or misrepresentation
        by a third party is prohibited.</description>\n    <item>\n      <title>Samsung:
        Expecting This Laggard To Catch Up On Peers</title>\n      <link>https://seekingalpha.com/article/4694357-samsung-expecting-this-laggard-to-start-catch-up-to-peers?utm_source=feed_articles_stock_ideas&amp;utm_medium=referral&amp;feed_item_type=article</link>\n
        \     <category domain=\"https://seekingalpha.com/symbol/SSNLF\">SSNLF</category>\n
        \     <pubDate>Sun, 19 May 2024 04:59:42 -0400</pubDate>\n      <guid>https://seekingalpha.com/article/4694357-samsung-expecting-this-laggard-to-start-catch-up-to-peers?utm_source=feed_articles_stock_ideas&amp;utm_medium=referral&amp;feed_item_type=article</guid>\n
        \   </item>\n    <item>\n      <title>Caterpillar: Overreaction To Dealer
        Inventory Situation And Good Medium-Term Prospects Present A Buying Opportunity</title>\n
        \     <link>https://seekingalpha.com/article/4694354-caterpillar-overreaction-to-dealer-inventory-situation-and-good[...]
