interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://seekingalpha.com/feed/dividends/editors-picks
  response:
    body:
      string: "<?xml version=\"1.0\"?>\n<rss version=\"2.0\">\n  <channel>\n    <title>Articles
        on Seeking Alpha</title>\n    <link>https://seekingalpha.com/dividends/editors-picks</link>\n
        \   <description>&#xA9; seekingalpha.com. Use of this feed is limited to personal,
        non-commercial use and is governed by Seeking Alpha's Terms of Use (https://about.seekingalpha.com/terms).
        Publishing this feed for public or commercial use and/or misrepresentation
        by a third party is prohibited.</description>\n    <item>\n      <title>Citizens
        Community: An Undervalued Dividend Growth Stock</title>\n      <link>https://seekingalpha.com/article/4693898-citizens-community-an-undervalued-dividend-growth-stock?utm_source=feed_articles_dividends_editors_picks&amp;utm_medium=referral&amp;feed_item_type=article</link>\n
        \     <category domain=\"https://seekingalpha.com/symbol/CZWI\">CZWI</category>\n
        \     <pubDate>Thu, 16 May 2024 12:54:46 -0400</pubDate>\n      <guid>https://seekingalpha.com/article/4693898-citizens-community-an-undervalued-dividend-growth-stock?utm_source=feed_articles_dividends_editors_picks&amp;utm_medium=referral&amp;feed_item_type=article</guid>\n
        \   </item>\n    <item>\n      <title>Hasbro: Fairly Priced As Turnaround
        Game Plan Is Playing Out</title>\n      <link>https://seekingalpha.com/article/4692181-hasbro-fairly-priced-as-turnaround-game-plan-is-playing-out?utm_source=feed_articles_dividends_editors_picks&amp;utm_[...]
